<p>This is the addMovie view.</p>

<div class="col-sm-8">
  <form class="form-group" ng-submit="saveMovie()">
    <label for="title">Enter Movie Title</label>
    <input type="text" name="" id="title" ng-model="movie.title" class="form-control">
    <br>
    <label for="year">Enter Movie Year Of Release</label>
    <input type="text" name="" id="year" ng-model="movie.year_of_release" class="form-control">
    <br>
    <label for="rating">Enter Movie Rating</label>
    <input type="text" name="" id="rating" ng-model="movie.rating" class="form-control">
    <br>
    <span class="input-group-btn">
      <input type="submit" class="btn btn-primary" value="Submit">
    </span>
  </form>
</div>
