<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman">
    <br> Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <table>
    <thead>
      <th>ID</th>
      <th>View Full Movie</th>
      <th>Delete Movie</th>
    </thead>
    <tbody>
      <tr ng-repeat="x in movies">
        <!-- <td>{{x.id}}</td> -->
        <td>{{x.title}}</td>
        <td><a ng-href="#/viewMovie/{{x._id}}" class="btn btn-primary">View Movie</a></td>
        <td><a ng-href="" class="btn btn-danger">Delete Movie</a></td>
      </tr>
    </tbody>
  </table>
  <!-- {{movies}} -->
<a ng-href="#/addMovie" class="btn btn-primary">Add Movie</a>
</div>
