<p>This is the viewMovie view.</p>

<!-- <h1>{{movieId}}</h1>
<h5>{{movieDetail}}</h5> -->

<div class="row marketing">
  <p>
    The Movie title is: <span class="label label-info">{{movieDetail.title}}</span>
  </p>
  <br>
  <p>
    The Movie's Year Of Release: <span class="label label-info">{{movieDetail.year_of_release}}</span>
  </p>
  <br>
  <p>
    The Movie's Rating is : <span class="label label-info">{{movieDetail.rating}}</span>
  </p>
  <br>
  <p>
    The Movie's Category : <span class="label label-info">{{movieDetail.category}}</span>
  </p>

</div>
